/*=========
Base Stlyes
=========*/
*{
    box-sizing: border-box;
    
}
body{
    
    font-family: 'Space Mono', monospace;
    text-align: center;
    background-color: hsl(185, 41%, 84%);
}
img{
    display: inline-block;
    margin: 1em 0;
}
span{
    margin-left: 2.8em;
}
.round-corners{
    border-radius: 5px ;
}
.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1em;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 350px;
    height: 90vh;
    margin: 0 auto 1em;
    padding: 0 1em 1em 3em;
    border-radius: 20px;
    background-color: hsl(0, 0%, 100%);
}


/*======
Form
======*/
form{
    font-size: 1.5rem;
    text-align: left;
}

label{
    display: block;
    margin: 1.5em 0 .2em;
    font-size: .8rem;
    font-weight: 700;
    text-align: left;
    color: hsl(186, 14%, 43%);

}

#tip-container input{
    margin-right: 1em;
}

input[type='text'],
input[type="number"]{
   
    padding: 0.3em 1em;
    border: none;
    text-align: right;
    font-size: 1.3rem;
    background-repeat: no-repeat;
    background-position:5% 50%;
    background-color: hsl(189, 41%, 97%);
    background-size: .5rem;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
#bill,
#total-people,
#per-person-container{
    width: 90%;
    max-width: 320px;
}

#bill{
    background-image: url('/images/icon-dollar.svg');
}
#total-people{
    background-image: url('/images/icon-person.svg');
    outline: none;
}
.tip-item,
#tip-custom{
    width: 40%;
    font-size: 1.2rem;
    font-weight: 700;
    
}
#bill:focus,
#tip-custom:focus{
    outline: none;
    border: 1px solid hsl(172, 67%, 45%);
}

#per-person-container,
.tip-item{
    background-color: hsl(183, 100%, 15%);
}
.tip-item{
    display: inline-block;
    width: 40%;
    padding: .5em 2em;
    margin: .3em 0;
    border: none;
    font-size: 1rem;
    color: white;
    cursor: pointer;
}
.tip-item:focus{
    background-color:  hsl(172, 67%, 45%);
}
#per-person-container{
    padding: 1.5em .7em;
    margin-top: 2.4em;
    margin-bottom: 0;
    border-radius: 10px;
}

.amount,
.per-person{
    margin: 0;
    padding: 0; 
}
.amount{
    font-size: .9rem;
    color: white;
}
.per-person{
    font-size: .8rem;
    color: hsl(185, 41%, 84%);
}

#btn-reset{
    width: 100%;
    padding: .5em;
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
    color: hsl(183, 100%, 15%);
    background-color:  hsl(172, 67%, 45%);
    cursor: pointer;
}
.person-amount{
    margin-top: 0;
    font-size: 1.7rem;
    font-weight: bold;
    color: hsl(172, 67%, 45%);
}
#error{
    color: red;
    /* font-weight: 400; */
}

/*============
media queries
=============*/
@media (min-width:1330px){
   
    body{
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    img{
        align-self: center;
    }
    .container{
        width: 100%;
        max-width: 800px;
        height: 40vh;
        padding: 0 0 0 4em ;
        flex-direction: row;
        align-items: center;
        margin: 3em auto;
    }
    form{
        width: 40%;
    }
    #per-person-container{
        width: 60%;
        margin: 0 auto;
        padding:2.41em ;
    }
    #tip-container{
        width: 100%;
        
    }
    #tip-container .tip-item,
    #tip-custom{
        width: 27% ;
        
    }

    #tip-container .tip-item{
       
        margin: .25em 0;
    }
    .tip-item{
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }
    #tip-custom{
        padding: .3em .25em;
        text-align: center;
        margin: 0;
    }
    
   
}